@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@1,200&display=swap');

body {
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}

#text {
  font-size: 1.7rem;
  margin-bottom: 20px;
  color: #333;
}

.button-box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  min-width: 100%;
  height: 45px;
  width: 100%;
}

.button-box a {
  color: #fff;
  background-color: #1b9cf0;
  padding: 10px 20px;

  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  
  transition: background-color 0.3s ease;

  margin: 0 5px;
}

.button-box a:hover {
  background-color: #fff;
  color: #1b9cf0;
}

.quotes-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 650px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#quote-box {
  position: relative;
  margin-bottom: 40px;
}

#author {
  font-size: 1.2rem;
  color: #555;
}

.new-quote-button {
  background-color: transparent;
  color: #555;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid #555;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-quote-button:hover {
  background-color: #555;
  color: #fff;
}

#tweet-quote  {
font-size: 16px;
padding-bottom: 5px;
padding-top: 11px;

}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

